@import '../../style/_variables.scss';
.MakeReservation{
    background: center/cover no-repeat url('../../images/homepage/ready-bg-mobile.jpg');
    color: white;
    padding: $sectionGap $gutter;
    text-align: center;
    
}