@import './breakpoints.scss';

// primary

$primary:#9e7f66;
$secondary:#111111;


//secondary

$dark: #17192b;
$mid:#242b37;
$light: #5c6779;

/// spacing


$elementSpace: 30px;
$sectionGap: calc(#{$elementSpace} * 3);
$gutter: 30px;

$desktopGutter: 80px;

$imgShadow: 0 30px 50px rgba(0,0,0,.2);


:export {
    dark: $dark;
    light: $light;
  }