@import '../../../style/variables.scss';


.FamilyGathering{
    padding: $sectionGap $gutter;
    text-align: center;
    h2{
        @include media('>phone'){
            padding-top: $elementSpace;
        }
    }
    h3{
        padding: 10px;
        opacity: .2;
        cursor: pointer;
    }
    h3.active{
        opacity: 1;
        position: relative;
        transform: translateX(10px);
        &::after{
            position: absolute;
            content: '';
            display: block;
            width: 100px;
            height: 2px;
            background: $primary;
            bottom: 3px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform:  translateX(-50%);
            -o-transform:  translateX(-50%);
            transform:  translateX(-50%);
        }
    }
    p{
        padding-bottom: $elementSpace;
    }
    @include media('>tablet'){
        display: flex;
        h3.active{
            &::after{
                bottom: 50%;
                left: -60px;
                z-index: -1;
                height: 4px;
            }
        }
    }
}


/// IMAGES  //////////////

.gatheringImgContainer{
    height: 60vh;
    box-shadow: $imgShadow;
    position: relative;
    overflow: hidden;
    @include media('>tablet'){
        flex: 1;
     
    }
}

.gatheringImg,.specialImg, .socialImg{
   z-index: 100;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    right:0;
    opacity: 0;
    &.active{
        opacity: 1;
    }
}

.gatheringImg{
    background: center / cover no-repeat url('../../../images/homepage/family-gathering-mobile@2x.jpg');
}
.specialImg{
    background: center / cover no-repeat url('../../../images/homepage/special-events-desktop@2x.jpg');

}
.socialImg{
    background: center / cover no-repeat url('../../../images/homepage/social-events-desktop@2x.jpg');

}



.blueBackground{
  
}
.pattern{
  
}

////// img //////////


//////// TEXT //////////

.gatheringText{
    display: flex;
    flex-flow: column;
    align-items: center;

    @include media('>tablet'){
        flex: 1;
        text-align: left;
        align-items: flex-start;
        margin: 0 60px;
    }
}

.gatherings{
    padding: $sectionGap 0;
    h3{
        padding: 14px 0;
    }
    @include media('>phone'){
        display: flex;
        justify-content: space-between;
        h3{
            font-size: 14px;
        }
    }
    @include media('>650px'){
        justify-content: space-around;
    }
    @include media('>tablet'){
       order: 2;
       flex-flow: column;
       padding: 30px 0;
       h3{
        padding: 10px 0;
    }
    }
}

//////// TEXT //////////


//////// DESCTIPTION CONTAINER //////////

.desctiptionContainer{
    position: relative;
    overflow: hidden;
    min-height: 200px;
    width: 100%;
}

.gatheringDesctiption,.specialDescription,.socialDescription{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.gatheringDesctiption.active,
.specialDescription.active,
.socialDescription.active{
    opacity: 1;
}





//////// DESCTIPTION CONTAINER //////////